extends layout 
block content 
    h1 Add New Video 
    form(role='form' method='POST' action=action_url)
        div.form-group
            label(for='video_title') Video Title:
            input#video_title.form-control(type='text', placeholder='Enter the title of your video', name='video_title', required)
        div.form-group
            label(for='video_url') Video link:
            input#video_url.form-control(type='text', placeholder='Copy and paste the url of the youtube video', name='video_url', required)
        button.btn.btn-primary(type="submit", name="") Add New Video 