doctype html
html 
    head
        title #{title}
        block css
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        block script
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    body
        nav.navbar.navbar-dark.bg-dark
            .container-fluid
                .navbar-header 
                    a.navbar-brand(href="/video/dashboard") Video Sharing
                ul.nav.navbar-nav.mr-auto(style="display: flex; flex-wrap: wrap; flex-direction: row; gap: 12px")
                    li.active   
                        a(href="/video/dashboard/mine") My Videos
                    li
                        a(href="/video/dashboard/all") All Videos
                    li 
                        a(href="/video/new_video") Share New Video
                    li 
                        a(href="/auth/login") Login
                    li 
                        a(href="/auth/register") Register
                    li 
                        a(href="/auth/logout") Logout                    
        .row
            .col-4
            .col-4
                block content