extends layout 
block content 
    h1 Login Form
    form(role='form' method='POST' action=action_url)
        div.form-group
            label(for='email') email:
            input#email.form-control(type='text', placeholder='Enter email', name='email', required)
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='password', placeholder='Enter password', name='password', required)
        button.btn.btn-primary(type="submit", name="") Login