extends layout 
block content
    h1 Video Dashboard
    ul(style="list-style: none")
        if videos.length >= 1
            each video, i in videos 
                li
                    h2=video.video_title
                    iframe(width="560" height="340" src=video.video_url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        else 
            h1 There are no videos