extends layout 
block content
    h1 Video Dashboard
    ul
        each video, i in videos 
            li
                iframe(width="389" height="692" src=video.video_url frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)